.garo_wrapper {
  display: flex; /* 가로 나열 */
  align-items: center; /* 세로방향 내 정렬 */
  width: 100%; /* 부모 요소의 전체 너비 차지 */
  margin-bottom: 15px;
}

.garo_wrapper_lr {
  display: flex; /* 가로 나열 */
  justify-content: space-between; /* 가로 양끝 나열 */
  align-items: center;
}

.garo_wrapper_lr_l {
  text-align: left; /* 위 garo_wrapper_lr 요소 중 좌측 배치 요소 */
}

.garo_wrapper_lr_r {
  flex: 1; /* 위 garo_wrapper_lr 요소 중 우측 배치 요소 */
}

.garo_wrapper_r {
  display: flex;
  justify-content: right; /* 가로 우측부터 나열 */
  align-items: center;
}

.sero_wrapper {
  display: flex;
  flex-direction: column; /* 세로 나열, 없으면 기본값 가로 나열 */
  justify-content: center; /* 가로방향 내 정렬 */
  width: 100%; /* 부모 요소의 전체 너비 차지 */
  margin-bottom: 15px;
  padding: 15px;
  overflow-y: auto; /* 세로 방향으로 넘칠시 스크롤 기능 */
  resize: vertical; /* 세로 방향으로만 크기 조정 가능 */
  border-radius: 10px;
  background-color: rgba(222, 184, 135, 0.849); /* 나무 원목 색 */
}

label {
  flex: 0 1 clamp(2vw, 5vw, 8vw); /* 1번째인자: 비례증가x, 2번째인자: 비례감소o, 3번재인자: 기본크기, */
  font-size: clamp(
    0.8vw,
    0.9vw,
    1vw
  ); /* clamp(최소크기, 기본크기, 최대크기), vw: 1vw당 뷰포트(기기or브라우저창)의 1% */
  font-weight: bold; /* 굵은글씨 */
}

input,
textarea,
select {
  flex: 1 0 clamp(2vw, 5vw, 8vw);
  font-size: clamp(0.6vw, 0.7vw, 0.8vw);
  min-width: 0; /* 최소 크기 제한 제거 */
  box-sizing: border-box; /* 경계 포함 크기 계산 */
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto; /* 세로 방향으로 넘칠시 스크롤 기능 */
  resize: vertical; /* 세로 방향으로만 크기 조정 가능 */

  &:focus,
  &:hover {
    flex: 1 0 clamp(2vw, 5vw, 8vw); /* 나머지 공간을 입력 필드가 차지 */
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    border-color: rgb(52, 152, 219); /* 포커스 시 테두리 색상 변경 (파란색) */
    background-color: rgb(
      230,
      247,
      255
    ); /* 포커스 시 배경색 변경 (연한 파란색) */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.6); /* 파란색 그림자 추가 */
    padding: 10px;
    outline: none;
  }
}

.add_btn,
.resume_img {
  &:hover {
    border: 2px solid black;
    border-color: rgb(52, 152, 219); /* 포커스 시 테두리 색상 변경 (파란색) */
    background-color: rgb(
      230,
      247,
      255
    ); /* 포커스 시 배경색 변경 (연한 파란색) */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.6); /* 파란색 그림자 추가 */
  }
}

.add_btn {
  border-radius: 5px; /* 위 스타일에 add_btn만 아래 스타일 추가 첨가 */
  margin-bottom: 10px;
}

.resumeDetail_header {
  margin-bottom: 1px;
  font-size: clamp(1.3vw, 1.4vw, 1.5vw);
  font-weight: bold;
}

.resumeDetail_border {
  border: 0;
  width: 98%;
  height: 1px;
  margin-bottom: 1px;
  background-color: black;
}

.resumeDetail_guidetext {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: black;
  font-size: clamp(0.8vw, 0.9vw, 1vw);
}

.career_table {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: black;
  font-size: 0.9em;

  display: grid;
  grid-template-columns: 4fr 4fr 2fr 2fr;
  grid-template-areas:
    "startDate company dept dept "
    "endDate position reason reason "
    "crrDesc crrDesc crrDesc crrDesc "
    "empty empty empty button ";
  gap: 16px;
}

@media (max-width: 1500px) {
  .career_table {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "startDate endDate "
      "company dept "
      "position reason "
      "crrDesc crrDesc "
      "empty button ";
  }
}

@media (max-width: 900px) {
  .career_table {
    grid-template-columns: 1fr;
    grid-template-areas:
      "startDate "
      "endDate "
      "company "
      "dept "
      "position "
      "reason "
      "crrDesc "
      "button ";
  }
}

.edu_table {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: black;
  font-size: 0.9em;

  display: grid;
  grid-template-columns: 4fr 4fr 2fr 2fr;
  grid-template-areas:
    "admDate eduLevel grdStatus grdStatus "
    "grdDate schoolName major major "
    "empty empty empty button ";
  gap: 16px;
}

@media (max-width: 1500px) {
  .edu_table {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "admDate grdDate "
      "eduLevel grdStatus "
      "schoolName major "
      "empty button ";
  }
}

@media (max-width: 900px) {
  .edu_table {
    grid-template-columns: 1fr;
    grid-template-areas:
      "admDate "
      "grdDate "
      "eduLevel "
      "grdStatus "
      "schoolName "
      "major "
      "button ";
  }
}

.skill_table {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: black;
  font-size: 0.9em;

  display: grid;
  grid-template-columns: 4fr 6fr 2fr;
  grid-template-areas:
    "skillName skillDetail skillDetail "
    "empty empty button ";
  gap: 16px;
}

@media (max-width: 900px) {
  .skill_table {
    grid-template-columns: 1fr;
    grid-template-areas:
      "skillName "
      "skillDetail "
      "button ";
  }
}

.cert_table {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: black;
  font-size: 0.9em;

  display: grid;
  grid-template-columns: 4fr 8fr 2fr;
  grid-template-areas:
    "acqDate certName certName "
    "grade issuer issuer "
    "empty empty button ";
  gap: 16px;
}

@media (max-width: 900px) {
  .cert_table {
    grid-template-columns: 1fr;
    grid-template-areas:
      "acqDate "
      "certName "
      "grade "
      "issuer "
      "button ";
  }
}

.resumeDetail_endLine {
  border: 2px solid black;
  width: 100%;
  height: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: black;
}

.resumeDetail_endButtons {
  display: flex;
  justify-content: center; /* 수평 정렬 */
}
